.register__arow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

.register__arow-p{
    font-size: 16px;
    cursor: pointer;
    color: #292929;
}
.register__link{
    text-decoration: none;
}
.imageBoy {
    margin-top: 75px;
    width: 600px;
}
.register__form{
    width: 343px;
    display: flex;
   flex-direction: column;
} 
.register__form-lable{
    margin-bottom: 15px;
}
.register__form-pass-lable{
    margin-bottom: 15px;
    position: relative;
}
.register__form-eye{
    width: 21px !important;
    height: 24px !important;
    position: absolute;
    top: 10%;
    right: 5%;
    cursor: pointer;
    border: none;
    background: transparent;
  }
.register__from-eror{
    font-size: 16px;
    color: red;
}
.register__form-p{
    text-align: center;
    color: black;
    font-size: 32px;
}
.register__form-input{
    width: 343px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background:#F8F8F8 ;
    outline: none;
    padding-left: 12px;
    font-size: 16px;
}
.register__form-li{
    font-size: 12px;
    color: #767676;
    margin-top: 12px;
}
.register__btn{
    width: 343px;
    height: 50px;
    border: none;
    border-radius: 12px;
    background: #D7D7D7;
    color: #767676;
    font-size: 16px;
    cursor: pointer;
}
.register__link{
    text-decoration: none;
    color: #767676;
}

.formik {
    margin-left: 750px;
    margin-top: -630px;
}

