.letter{
    margin: 0;
    padding: 0;
&__arow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}   
&__link{
    text-decoration: none;
} 
&__arow-text{
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
&__container{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
&__description{
    width: 421px;
    height: 404px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
&__title{
    font-size: 24px;
    color:#212121;
}
&__text{
    font-size:20px;
    color: #767676;
}
&__text-span{
    color: #212121;
}
&__text-svg{
    font-size:20px;
    color: #212121;
    margin-top: 15px;
}
&__btn{
    border: none;
    background: transparent;
    font-size: 16px;
    color: #212121;
    margin-top: 30px;
    cursor: pointer;
}
}